*{
    margin:0;
    padding:0;
    border: 0;
  
}

header{ 

    background-color :rgb(13,23,33);
    color: white;
    font-family: sans-serif;
    text-align: center;
    height: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
header h1{

    margin-top: 140px;
    margin-bottom: 20px;
    font-size: 70px;
}
header p{

    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 25px;
    color: #FFC0C7;
}
header a{

    color:white;
    font-size: 25px;

}
header a:hover{

    color: aquamarine;
}
.sectionHTML{

    background-color:#773617;
    height: 500%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: sans-serif;
    text-align: center;
}
.sectionHTML h2{
    font-size: 40px;
}
.sectionHTML p{

    font-size: 20px;
    margin-bottom: 30px;

}

.sectionCSS{

    background-color:#72cce2;
    height: 500%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: sans-serif;
    text-align: center;
}
.sectionCSS h2{

    font-size: 40px;
}
.sectionCSS p{

    font-size: 20px;
    margin-bottom: 30px;

}

.sectionJS{

    background-color:#ece46d;
    height: 500%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: sans-serif;
    text-align: center;
}
.sectionJS h2{

    font-size: 40px;
}
.sectionJS{

    font-size: 20px;
    margin-bottom: 30px;

}

.registration-form-btn{

    padding: 20px;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 30px;
    
}
.allBtnsHTML{
    
   
    background:-webkit-linear-gradient(to left, #212323,#a31818);
    background:-o-linear-gradient(to left, #212323,#a31818);
    background:-moz-linear-gradient(to left, #212323,#a31818);
    background:linear-gradient(to left, #212323,#a31818);

}
.allBtnsCSS{

    background:-webkit-linear-gradient(to left, #212323,#5193a3);
    background:-o-linear-gradient(to left, #212323,#5193a3);
    background:-moz-linear-gradient(to left, #212323,#5193a3);
    background:linear-gradient(to left, #212323,
    #5193a3);

}
.allBtnsJS{

    background:-webkit-linear-gradient(to left, #212323,#e0ce46);
    background:-o-linear-gradient(to left, #212323,#e0ce46);
    background:-moz-linear-gradient(to left, #212323,#e0ce46);
    background:linear-gradient(to left, #212323,
    #e0ce46);

}
.IframeHTML{
    margin-top: 190px;
    height: 400px;
}
.IframeCSS{

    margin-top: 190px;
    height: 400px;
}
.IframeJS{
    margin-top: 190px;   
    height: 400px;
}
.rodape{

    font-family: Arial, sans-serif;
    display: block;
    font-size: 15px;
    line-height: 2.5;
    color: #643477;
    text-align: center;
    top: 0px;
    line-height: 2.0;
    padding-right: 10px;
    text-decoration: center;
    background-color:#1111;
    
}
.links{

    font-size: 14px;
    color: #7f8ad6;
    line-height: 1.5;

}

.links ul{
    list-style: none;
}

.links ul a{
    color:rgb(47, 7, 36);
    text-decoration: none;
    
}